<div fxLayoutAlign="center center" fxFlexFill>
    <mat-card fxFlex="25">
        <mat-toolbar color="primary">Login</mat-toolbar>

        <form fxLayoutAlign="stretch" fxLayout="column" >
            <mat-form-field>
              <mat-label>User name</mat-label>
              <input matInput placeholder="name" required>
            </mat-form-field>
          
            <mat-form-field>
              <mat-label>Password</mat-label>
              <input matInput type="password" placeholder="password" required>
            </mat-form-field>
            <button  mat-button type="submit" [routerLink]="'/success'">Login</button>
          </form>
    </mat-card>

</div>
